<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<h2> <%= @cocktail.name %> </h2>

<p>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>

  <% end %>
</p>

 <%= link_to 'new dose', new_cocktail_dose_path %>

