<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    Antoine's cocktails
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Button (call-to-action) -->
    <%= link_to 'new cocktail', new_cocktail_path, class:
 "navbar-wagon-item navbar-wagon-button btn" %>
  </div>


</div>
